@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--primeira-cor);
}

nav.menu-lateral {
    width: 58px;
    height: 100%;
    background-color: var(--primeira-cor);
    padding: 40px 0 70px 0.5%;
    box-shadow: 3px 0 0 var(--segunda-cor);

    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    overflow: hidden;
}
nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;

}
.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}
ul li.item-menu {
    transition: .5s;
    border-radius: 80px;
}
ul li.item-menu:hover {
    background: var(--terceira-cor);
}
ul li.item-menu a{
    color: var(--segunda-cor);
    text-decoration: none;
    font-size: 15px;
    padding: 17px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 29px;
}
ul li.item-menu a .txt-link {
    margin-left: 20px;

}
ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 3px;
}

:root {    
    transition: .5s;
    --primeira-cor: whitesmoke;
    --segunda-cor: grey;
    --terceira-cor: rgb(37, 37, 37);
}
.dark-theme {
    transition: .5s;
    --primeira-cor: rgb(24, 24, 24);
    --segunda-cor: rgb(133, 130, 130);
    --terceira-cor: rgb(70, 68, 68);
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#menu #icon {
    border-radius: 50px;
    height: 20px;
    width: 45px;
    background-color: grey;
    display: flex;
    cursor: pointer;
    display: block;
}

#icon {
    padding-left: 4px;
}
